@model VintageCars.Models.ConsumedModels

@{ 
    var imageTbl = Model.imageTbl;
    var serviceTbl = Model.serviceTbl;
    var socialLinksTbl = Model.socialLinksTbl;
    var subscriberTbl = Model.subscriberTbl;
    var countServices = Model.serviceTbl.Count();
    var countSubscribers = Model.subscriberTbl.Count();
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class=""><a href="/Administrator/Adminpanel">Home</a></li>
                <li><a href="/Administrator/Addimage">Add Image</a></li>
                <li><a href="/Administrator/Services">Services <span class="badge">@countServices</span></a></li>
                <li><a href="/Administrator/AddSocialLinks">Social Links</a></li>
                <li><a href="#">Subscribers <span class="badge">@countSubscribers</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Administrator/Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>




<div class="imagesContainer" id="tableContainer">
    <p style="font-size:50px"><strong>Vintage Cars</strong></p>
    <table id="tbl" style="margin-top:10px;" class="table">
        <tr>
            <th>Id</th>
            <th>
                სურათი
            </th>
            <th>
                სათაური
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in imageTbl)
        {
            <tr class="PostedData">
                <td>
                    @item.Id
                </td>
                <td>
                    <img class="posted-img" src='@Url.Action("Img" ,"Content", new { id = item.CarPicture + item.Extension})' />
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    <a href="/Administrator/Edit/@item.Id"><input class="editBtn" type="button" value="რედაქტირება" title="რედაქტირება"></a>
                </td>
                <td>
                    <input id="@item.Id" data-toggle="modal" data-target="#myModal" class="deleteBtn" type="button" value="წაშლა" title="წაშლა">
                </td>
            </tr>
        }
    </table>
</div>

<!--Delete Modal For Images -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div style="width:369px;" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p><strong style="color:red; font-size:16px; margin-left:3px; color:#e80c4d;">მონაცემების წაშლა! დარწმუნებული ხართ?</strong></p>
                <br />
                @*<button   class="btn btn-danger delete">წაშლა</button>*@
                <input id="confirmDelete" type="button" data-toggle="modal" data-target="#myModal" class="confirmDelete" value="წაშლა" title="წაშლა">
                <input style="float:right; position:absolute" id="dismiss" class="dismissBtn" type="button" data-dismiss="modal" value="გაუქმება" title="გაუქმება">
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->

<div class="servicesContainer" style="margin-top:60px; overflow-x:auto;" id="servicesTableContainer">
    <p style="font-size:50px"><strong>Services</strong></p>
    <table id="servicesTbl" style="margin-top:10px;" class="table">
        <tr>
            <th>Id</th>
            <th>
                სურათი
            </th>
            <th>
                სათაური
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in serviceTbl)
        {
            <tr class="servicesPostedData">
                <td>
                    @item.Id
                </td>
                <td>
                    <img class="servicesImg" src='@Url.Action("ServiceImages" ,"Content", new { id = item.ServicePicture + item.Extension})' />
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    <a href="/Administrator/EditServices/@item.Id"><input class="srvcEditBtn" type="button" value="რედაქტირება" title="რედაქტირება"></a>
                </td>
                <td>
                    <input id="@item.Id" data-toggle="modal" data-target="#servicesmodal" class="srvcDeleteBtn" type="button" value="წაშლა" title="წაშლა">
                </td>
            </tr>
        }
    </table>
</div>

<!--Delete Modal For Services -->
<div class="modal fade srvcmodal" id="servicesmodal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div style="width:369px;" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p><strong style="color:red; font-size:16px; margin-left:3px; color:#e80c4d;">მონაცემების წაშლა! დარწმუნებული ხართ?</strong></p>
                <br />
                <input id="confirmDeleteService" type="button" data-toggle="modal" data-target="#myModal" class="confirmDeleteService" value="წაშლა" title="წაშლა">
                <input style="float:right; position:absolute" id="cancelserviceDelete" class="cancelserviceDelete" type="button" data-dismiss="modal" value="გაუქმება" title="გაუქმება">
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal For Services -->


<div class="socialLinksContainer" style="margin-top:60px; overflow-x:auto;" id="socialLinksTableContainer">
    <p style="font-size:50px"><strong>Social Network</strong></p>
    <table id="socialLinksTbl" style="margin-top:10px;" class="table">
        <tr>
            <th>Id</th>
            <th>
                სურათი
            </th>
            <th>
                ვებ გვერდი
            </th>
            <th>
                მისამართი
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in socialLinksTbl)
        {
            <tr class="socialLinksPostedData">
                <td>
                    @item.Id
                </td>
                <td>
                    <img class="servicesImg" width="250" src='@Url.Action("SocialLinksImg" ,"Content", new { id = item.ImgName + item.Extension})' />
                </td>
                <td>
                    @item.LinkName
                </td>
                <td>
                    <a href="">@item.SocialLinks</a>
                </td>
                <td>
                    <a href="/Administrator/EditSocialLink/@item.Id"><input class="socEditBtn" type="button" value="რედაქტირება" title="რედაქტირება"></a>
                </td>
                <td></td>
            </tr>
        }
    </table>
</div>

<div class="subscribersContainer" style="margin-top:60px; overflow-x:auto;" id="subscribersTableContainer">
    <p style="font-size:50px"><strong>Subscribers</strong></p>
    <table id="subscribersTbl" style="margin-top:10px;" class="table">
        <tr>
            <th>Id</th>
            <th>
                მომხმარებლის სახელი
            </th>
            <th>
                ელ.ფოსტა
            </th>
            <th>
                შევსების თარიღი
            </th>
            <th></th>
            
        </tr>

        @foreach (var item in subscriberTbl)
        {
            <tr class="subscribersPostedData">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td></td>
            </tr>
        }
    </table>
</div>