@model VintageCars.Models.ImageTbl

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Administrator/Adminpanel">Home</a></li>
                <li><a href="/Administrator/Addimage">Add Image</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Social Links</a></li>
                <li><a href="#">Subscribers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Administrator/Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $(".editPosted-img").attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>

@using (Html.BeginForm("Edit", "Administrator", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    <div class="editPage">
        @Html.HiddenFor(model => model.Id)
        <div class="editTitle">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "eTitle", placeholder = "Title", id = "eTitle", name = "title" } })
            <br />
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div class="editImg">
            <img class="editPosted-img" src='@Url.Action("Img" ,"Content", new { id = Model.CarPicture + Model.Extension})' />
        </div>
        <div style="float:right" class="choose-file">
            @*@Html.TextBoxFor(model => model.file, new { @class = "echooseFile", type = "file", title = "choose file", id = "file", name = "file", onchange = "show(this)" })
            @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })*@
            <input type="file" value="choose file" id="file" name="file" />
        </div>
        <div class="editBtns">
            <input class="save" type="submit" value="Save" title="save">
            @Html.ActionLink("Cancel", "Adminpanel", "Administrator", null, new { @class = "cancel", style = "color:white" })
        </div>
    </div>
}
