@model VintageCars.Models.ServicesModel

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Administrator/Adminpanel">Home</a></li>
                <li><a href="/Administrator/Addimage">Add Image</a></li>
                <li><a href="/Administrator/Services">Services</a></li>
                <li><a href="/Administrator/AddSocialLinks">Social Links</a></li>
                <li><a href="#">Subscribers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Administrator/Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function showImage(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $("#servicesImg").attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>

@using (Html.BeginForm("Services", "Administrator", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    <div class="addservices">
        <p style="font-size:34px" class="addservices">Add Services</p>
    </div>
    <div class="servicesPage">
        <div class="servicesImg">
            <img class="img-responsive" id="servicesImg" height="300" width="300" style="border:solid 1px;" />
        </div>
        <br />
        <div class="sChooseFile">
            @Html.TextBoxFor(model => model.serviceImg, new { @class = "sChooseFile", type = "file", title = "choose file", id = "serviceImg", name = "serviceImg", onchange = "showImage(this)" })
            @Html.ValidationMessageFor(model => model.serviceImg, "", new { @class = "text-danger" })
        </div>

        <div class="serviceTitle">
            @Html.EditorFor(model => model.ServiceTitle, new { htmlAttributes = new { @class = "serviceTitle", placeholder = "Title", id = "serviceTitle", name = "serviceTitle" } })
            @Html.ValidationMessageFor(model => model.ServiceTitle, "", new { @class = "text-danger" })
        </div>

        <input class="addServiceBtn" type="submit" value="ატვირთვა" title="ატვირთვა" />
        <p style="color:#e80c4d">@ViewBag.message</p>
    </div>
}